streamlit
streamlit-option-menu==0.3.6
google-auth==2.23.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.106.0
numpy
joblib
plotly
pandas
scikit-learn==1.2.2
xgboost==1.6.2
huggingface_hub==0.16.4
